body {
    background-image: url('../images/background.png');
    backdrop-filter:transparent;
    backdrop-filter: blur(10px);
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Neucha', cursive;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1;
}
.layout {
    flex: 1 0 auto;
    display: grid;
    grid-template-columns: 400px 1fr 400px;
    height: calc(100vh - 60px);
    overflow: hidden;
    height: auto;
  }
  
  .left-panel, .right-panel {
    background: rgba(0, 0, 0, 0.45);
    padding: 20px;
    overflow-y: auto;
  }
.tree-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .tree-grid img:hover {
    transform: scale(1.08);
    box-shadow: 0 0 12px rgba(255,255,255,0.5);
  }
  
  .tree-grid img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 10px;
    background: rgba(255,255,255,0.1);
    padding: 5px;
    cursor: pointer;
  }